<a href="https://colab.research.google.com/github/nathanbollig/vet-graduate-expectations-survey/blob/main/WVMA_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Veterinary graduate expectations survey - WVDL table

Start by uploading `WVMA.xlsx` into the working directory. The purpose of this notebook is to produce the following table: shows the top 10 tasks (wrt level of expected independence) in all four emphasis areas from the WVMA results.

## Set up

In [67]:
import pandas as pd
import numpy as np

### Read in WVMA data

In [68]:
# Use top row as header and skip second header row
wvma = pd.read_excel('WVMA.xlsx', header=0, skiprows=lambda x: x in [1])  

# Read in questions from second header row and associate with column names
question_wvma = {}

top_rows_wvma = pd.read_excel('WVMA.xlsx', nrows=2) 

for col in list(top_rows_wvma.columns):
    question_wvma[col] = top_rows_wvma.iloc[0][col]

### Encoding

Let's encode the expectation response in the following way:

 * 0: No Expectation to Perform Procedure

 * 1: Perform with Assistance (assist with portions of procedure)
 
 * 2: Perform with Direct Supervision (present in room during procedure)

 * 3: Perform with Indirect Supervision (available in building or by phone if needed)

 * 4: Perform Independently

In [69]:
def encode_expectation(response_string):
    if isinstance(response_string, str) == False:
        return response_string
    
    # Encode string
    s = response_string.lower()
    if s.find('no expectation') > -1:
        return 0
    elif s.find('with assistance') > -1:
        return 1
    elif s.find('indirect supervision') > -1:
        return 3
    elif s.find('direct supervision') > -1:
        return 2
    elif s.find('independently') > -1:
        return 4
    else:
        return response_string

In [70]:
for col in wvma.columns:
    wvma[col] = wvma[col].apply(lambda x: encode_expectation(x))

### Filtering columns

In [71]:
# Drop all initial columns that aren't task questions
wvma = wvma.iloc[:, 23:]

In [72]:
# Drop all questions that refer to species categories
cols = [c for c in wvma.columns if '_' in c]
wvma = wvma[cols]

In [73]:
wvma

     Q16_1  Q16_2  Q16_3  Q16_4  Q16_5  ...  Q15_4  Q15_5  Q15_6  Q15_7  Q15_8
0      4.0    4.0    4.0    4.0    4.0  ...    3.0    3.0    3.0    3.0    3.0
1      NaN    NaN    NaN    NaN    NaN  ...    4.0    0.0    4.0    4.0    4.0
2      4.0    3.0    4.0    3.0    3.0  ...    3.0    0.0    3.0    3.0    2.0
3      4.0    4.0    4.0    4.0    4.0  ...    3.0    3.0    4.0    4.0    4.0
4      4.0    1.0    4.0    2.0    2.0  ...    4.0    4.0    4.0    4.0    4.0
..     ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
170    3.0    2.0    3.0    1.0    1.0  ...    NaN    NaN    NaN    NaN    NaN
171    NaN    NaN    NaN    NaN    NaN  ...    NaN    NaN    NaN    NaN    NaN
172    4.0    4.0    3.0    2.0    2.0  ...    NaN    NaN    NaN    NaN    NaN
173    NaN    NaN    NaN    NaN    NaN  ...    NaN    NaN    NaN    NaN    NaN
174    NaN    NaN    NaN    NaN    NaN  ...    NaN    NaN    NaN    NaN    NaN

[175 rows x 397 columns]

## Compute aggregate measures over columns

In [74]:
# Average across all columns
avg = wvma.mean(axis=0)

In [75]:
# Count of non-null responses across all columns
count = wvma.count(axis=0)

## Compute emphasis area for each column

In [76]:
def area_for_column_name(colname):
    colname = colname.split('Q')[1] # take after Q
    colname = colname.split('_')[0] # take before '_'
    q = int(colname)

    if q in [16,17,7,8,9,10,11,12]:
        return "Companion Animal"
    elif q in [20, 18, 25, 24, 21, 19, 23, 22, 27]:
        return "Food Animal"
    elif q in [43, 44, 45, 46, 48, 49, 50]:
        return "Special Species"
    elif q in [28, 29, 30, 31, 32, 33, 34, 35, 36]:
        return "Equine"
    elif q in [13,14,15]:
        return "zAll" # put a z in front so it will sort last initially
    else: 
        return "" # Not a question in an emphasis area

In [77]:
areas = {}
for c in avg.index:
    area = area_for_column_name(c)
    areas[c] = area

In [78]:
areas = pd.Series(areas, index=avg.index)

## Get question text

In [79]:
questions = {}
for c in avg.index:
    q_string = question_wvma[c].split('-')[2]
    questions[c] = q_string

questions = pd.Series(questions, index=avg.index)

## Assemble a table

In [80]:
df = pd.concat([areas, questions, avg, count], axis=1)
df.columns = ['Emphasis area', 'Question', 'Mean expected independence', 'Number of respondents']

In [81]:
# Drop rows without an emphasis area
df = df[df[df.columns[0]] != ""]

In [82]:
df

          Emphasis area  ... Number of respondents
Q16_1  Companion Animal  ...                    99
Q16_2  Companion Animal  ...                   100
Q16_3  Companion Animal  ...                   100
Q16_4  Companion Animal  ...                   100
Q16_5  Companion Animal  ...                   100
...                 ...  ...                   ...
Q15_4              zAll  ...                   107
Q15_5              zAll  ...                   107
Q15_6              zAll  ...                   107
Q15_7              zAll  ...                   107
Q15_8              zAll  ...                   107

[397 rows x 4 columns]

## Table operations

We will now group by emphasis area, sort by mean expected independence within each group, and filter to top 5 within each group.

In [83]:
df = df.sort_values([df.columns[0], df.columns[2]],ascending=[True, False]).groupby(df.columns[0]).head(5)

Remove the z from the front of the "All" value in the 0th column.

In [84]:
df[df.columns[0]] = np.where(df[df.columns[0]] == "zAll", "All", df[df.columns[0]])

In [85]:
df

           Emphasis area  ... Number of respondents
Q16_1   Companion Animal  ...                    99
Q16_9   Companion Animal  ...                    99
Q16_18  Companion Animal  ...                    97
Q16_3   Companion Animal  ...                   100
Q16_10  Companion Animal  ...                    99
Q29_1             Equine  ...                    25
Q28_2             Equine  ...                    25
Q29_12            Equine  ...                    25
Q29_13            Equine  ...                    25
Q28_1             Equine  ...                    25
Q18_1        Food Animal  ...                    37
Q23_12       Food Animal  ...                    34
Q18_17       Food Animal  ...                    37
Q18_22       Food Animal  ...                    37
Q20_4        Food Animal  ...                    36
Q43_10   Special Species  ...                    17
Q43_9    Special Species  ...                    17
Q44_7    Special Species  ...                    16
Q44_8    Special Species  ...                    16
Q44_9    Special Species  ...                    16
Q15_7                All  ...                   107
Q13_8                All  ...                   106
Q13_1                All  ...                   107
Q13_11               All  ...                   106
Q15_6                All  ...                   107

[25 rows x 4 columns]

## Save table

In [86]:
df.to_csv("WVMA_most_independent_tasks.csv")

# Next Steps

In [ ]:
# Copy files to Drive
!cp *.csv drive/MyDrive/survey_test/