<a href="https://colab.research.google.com/github/nathanbollig/vet-graduate-expectations-survey/blob/main/WVMA_generalist_specialist_nontechnical.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Veterinary graduate expectations survey

Evaluating the differences in graduate expectations between specialists and generalists within the WVMA. This notebook focuses on the nontechnical questions, which are:
 -   Communication practices (Q13)
 -   Professional and business practices (Q14)
 -   Ethics and professional practices (Q16)

Start by uploading the data into the working directory. One file is required:

 * `WVMA.xlsx`: WVMA graduate expectations survey results

In [1]:
! pip install xlsxwriter

Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.7/dist-packages (1.4.4)

In [2]:
import pandas as pd
import numpy as np
from scipy.stats import kruskal

## Read in WVMA data

In [3]:
# Use top row as header and skip second header row
wvma = pd.read_excel('WVMA.xlsx', header=0, skiprows=lambda x: x in [1])  

# Read in questions from second header row and associate with column names
question_wvma = {}

top_rows_wvma = pd.read_excel('WVMA.xlsx', nrows=2) 

for col in list(top_rows_wvma.columns):
    question_wvma[col] = top_rows_wvma.iloc[0][col]

In [4]:
def encode_expectation(response_string):
    if isinstance(response_string, int) == True:
        return response_string
    
    # Encode nan values as -1
    if isinstance(response_string, str) == False:
        if np.isnan(response_string) == True:
            return -1
    
    # Encode string
    s = response_string.lower()
    if s.find('no expectation') > -1:
        return 0
    elif s.find('with assistance') > -1:
        return 1
    elif s.find('indirect supervision') > -1:
        return 3
    elif s.find('direct supervision') > -1:
        return 2
    elif s.find('independently') > -1:
        return 4
    else:
        print(response_string)
        raise ValueError('Expected performance response was not formatted as expected.')

Generalists and specialists are defined by the answer to Q49. We will assume that an empty answer corresponds to a generalist, and a non-empty answer is a specialist.

In [5]:
from collections import Counter
Counter(wvma.Q49)

Counter({'American Board of Veterinary Practitioners': 3,
         'American College of Theriogenologists': 2,
         'American College of Veterinary Anesthesia and Analgesia': 1,
         'American College of Veterinary Anesthesia and Analgesia,American College of Veterinary Dermatology,American College of Veterinary Emergency & Critical Care,American College of Veterinary Internal Medicine,American College of Veterinary Ophthalmologists,American College of Veterinary Surgeons,American Veterinary Dental College': 1,
         'American College of Veterinary Internal Medicine': 2,
         'American College of Veterinary Nutrition': 1,
         'American College of Veterinary Pathologists': 1,
         'American College of Veterinary Surgeons': 1,
         'American Veterinary Dental College': 1,
         'Other non-AVMA recognized specialty credentials': 9,
         nan: 153})

In [6]:
# Form generalist and specialist datasets
generalist = wvma[wvma['Q49'].isnull()].copy()
specialist = wvma[wvma['Q49'].notnull()].copy()

In [7]:
len(generalist)

153

In [8]:
len(specialist)

22

In [9]:
# Filter dataframe to only companion animal respondants (may have responded to other species too)
ca_specialist = specialist[specialist['Q1'].str.contains('Companion Animal (canine and/or feline)', na=False, regex=False)].copy()

In [10]:
# Filter dataframe to only companion animal respondants (may have responded to other species too)
ca_generalist = generalist[generalist['Q1'].str.contains('Companion Animal (canine and/or feline)', na=False, regex=False)].copy()

## Question analysis code

In [11]:
def analyze_question(question_number, filtered_specialist_df, filtered_generalist_df, n_subquestions, alpha=0.05, verbose=True):
    """
    Perform an analysis of a given question on a species-filtered dataframe.
    
    Inputs:
        question_number: main question number to analyze
        filtered_specialist_df: specialist dataframe filtered to respondants with the desired species area
        filtered_generalist_df: generalist dataframe filtered to respondants with the desired species area
        n_subquestions: number of subquestions in the main question
        alpha: power level for the statistical test

    Prints a summary of results.

    Outputs:
        table: summary table
        (pooled_stat, pooled_p, pooled_diff_mean): tuple of statistics describing output of Kruskal test on data pooled across subquestions
        specialist_data: list of pooled specialist data
        generalist_data: list of pooled generalist data
        sig_count: number of subquestions with significant difference detected (between specialist and generalist responses), according to Kruskal test applied at subquestion level

    """

    specialist_counts = np.zeros((n_subquestions, 6), dtype=int) # Row for each question, column for empty (-1), 0, 1, 2, 3, and 4 responses
    generalist_counts = np.zeros((n_subquestions, 6), dtype=int) # Row for each question, column for empty (-1), 0, 1, 2, 3, and 4 responses
    rows = []
    specialist_pooled = []
    generalist_pooled = []
    sig_count = 0

    for i in range(1, n_subquestions+1):
        qkey = "Q" + str(question_number) + "_" + str(i)
        qstring = question_wvma[qkey].split('-')[2]

        # Encoding
        filtered_specialist_df[qkey] = filtered_specialist_df[qkey].apply(lambda x: encode_expectation(x))
        filtered_generalist_df[qkey] = filtered_generalist_df[qkey].apply(lambda x: encode_expectation(x))

        # specialist tally
        counts = filtered_specialist_df[qkey].value_counts(dropna=False)
        for key in counts.keys():
            specialist_counts[i-1][key+1] += counts[key] # question index is 1-based; keys range from -1 to 4
        counts = specialist_counts[i-1][1:] # counts of 0, 1, 2, 3, and 4
        specialist_num_responses = np.sum(counts)
        specialist_mean = (0*counts[0] + 1*counts[1] + 2*counts[2] + 3*counts[3] + 4*counts[4]) / specialist_num_responses

        # generalist tally
        counts = filtered_generalist_df[qkey].value_counts(dropna=False)
        for key in counts.keys():
            generalist_counts[i-1][key+1] += counts[key]
        counts = generalist_counts[i-1][1:] # counts of 0, 1, 2, 3, and 4
        generalist_num_responses = np.sum(counts)
        generalist_mean = (0*counts[0] + 1*counts[1] + 2*counts[2] + 3*counts[3] + 4*counts[4]) / generalist_num_responses
        
        # Get data
        specialist_data = list(filtered_specialist_df[qkey])
        generalist_data = list(filtered_generalist_df[qkey])

        # Remove empty values from data
        specialist_data = [x for x in specialist_data if x != -1]
        generalist_data = [x for x in generalist_data if x != -1]

        assert(specialist_num_responses == len(specialist_data))
        assert(generalist_num_responses == len(generalist_data))

        # compare samples
        if len(specialist_data) >= 5 and len(generalist_data) >= 5:
            stat, p = kruskal(specialist_data, generalist_data)
        else:
            stat = 0
            p = 1

        # Determine significance
        if p > alpha:
            sig = ""
        else:
            sig = "*"
            sig_count += 1

        # Cache for pooled data
        specialist_pooled.extend(specialist_data)
        generalist_pooled.extend(generalist_data)

        # Cache for table of results
        row = [qstring] + list(specialist_counts[i-1]) + [specialist_mean, specialist_num_responses] + list(generalist_counts[i-1]) + [generalist_mean, generalist_num_responses, specialist_mean-generalist_mean, stat, p, sig]
        rows.append(row)

    # Assemble table of results
    table = pd.DataFrame(rows, columns=["Subquestion", "specialist: empty", "specialist: 0", "specialist: 1", "specialist: 2", "specialist: 3", "specialist: 4", "specialist: avg", "specialist: num responses", "generalist: empty", "generalist: 0", "generalist: 1", "generalist: 2", "generalist: 3", "generalist: 4", "generalist: avg", "generalist: num responses", "Diff Mean (specialist-generalist)", "stat", "pval", "sig"])

    # Apply Kruskal test to pooled data
    pooled_stat, pooled_p = kruskal(specialist_pooled, generalist_pooled)
    pooled_diff_mean = np.mean(specialist_pooled) - np.mean(generalist_pooled)

    # Print
    if verbose == True:
        print('Pooled Q%s: stat=%.3f, p=%.2e, diff_mean (specialist-generalist)=%.3f, sig_subq=%s/%s' % (question_number, pooled_stat, pooled_p, pooled_diff_mean, sig_count, n_subquestions))

    return table, (pooled_stat, pooled_p, pooled_diff_mean), specialist_pooled, generalist_pooled, sig_count

In [12]:
table, subq_pooled_result, specialist_data, generalist_data, sig_count = analyze_question(13, ca_specialist, ca_generalist, n_subquestions=11)

Pooled Q13: stat=17.492, p=2.89e-05, diff_mean (specialist-generalist)=-0.454, sig_subq=2/11

In [13]:
table

                                          Subquestion  ...  sig
0    Documents medical records to fulfill professi...  ...    *
1    Discuss recommended vaccination or preventive...  ...    *
2    Discuss recommended treatment plan and option...  ...
3    Discuss risks of recommended treatments and p...  ...
4    Acknowledge client’s knowledge level and appr...  ...
5          Discuss quality of life issues with owners  ...
6    Engages clients in difficult conversations su...  ...
7                          Engage with clients and co  ...
8                                           Engage co  ...
9    Elicit client goals, expectations, perspectiv...  ...
10            Build and maintain client relationships  ...

[11 rows x 21 columns]

## Group analysis code

In [14]:
# cache data across all groups
group_data = []
group_columns = ["Group", "Pooled stat", "Pooled p", "Pooled diff_mean (specialist-generalist)", "Num questions", "Fraction of sig questions", "Pooled num specialist reponses", "Pooled num generalist responses"]

In [15]:
# cache tables
output_tables = []
output_tables_sheet_names = []

# cache subquestion table data
output_subq_data = []

In [16]:
# Input info about question group

question_list = [13,14,15]
n_subq_list = [11,6,8]
question_strings = ['Communication practices',
                    'Professional and business practices',
                    'Ethics and professional practices']

assert(len(question_list) == len(n_subq_list))
assert(len(n_subq_list) == len(question_strings))

In [17]:
# Code to analyze all questions within the group

def analyze_group(question_list, n_subq_list, question_strings, filtered_specialist_df, filtered_generalist_df, alpha=0.05):
    specialist_pooled = [] # now pooling over entire group
    generalist_pooled = []
    rows = []
    sig_count = 0
    subq_tables = []
    subq_tables_names = []

    for i in range(len(question_list)):
        question_number = question_list[i]
        n_subquestions = n_subq_list[i]
        question_string = question_strings[i]

        # Run analysis
        table, subq_pooled_result, specialist_data, generalist_data, sig_subq = analyze_question(question_number, filtered_specialist_df, filtered_generalist_df, n_subquestions, verbose=False)
        pooled_stat, pooled_p, pooled_diff_mean = subq_pooled_result
        specialist_num_responses = len(specialist_data)
        generalist_num_responses = len(generalist_data)

        # Cache procedure tables
        subq_tables.append(table)
        subq_tables_names.append('Q'+str(question_number))

        # Pool
        specialist_pooled.extend(specialist_data)
        generalist_pooled.extend(generalist_data)

        # Determine significance
        if pooled_p > alpha:
            sig = ""
        else:
            sig = "*"
            sig_count += 1

        # Cache data for group summary
        row = ['Q'+str(question_number), question_string, pooled_stat, pooled_p, sig, pooled_diff_mean, n_subquestions, "%i/%i" % (sig_subq,n_subquestions), specialist_num_responses, generalist_num_responses]
        rows.append(row)

    # Assemble table of results
    group_table = pd.DataFrame(rows, columns=["Question number", "Category", "Pooled stat", "Pooled p", "Sig", "Pooled Diff Mean (specialist-generalist)", "Num subquestions", "Fraction of sig subquestions", "Pooled num specialist responses", "Pooled num generalist responses"])                     

    # Apply Kruskal test to pooled data
    pooled_stat, pooled_p = kruskal(specialist_pooled, generalist_pooled)
    pooled_diff_mean = np.mean(specialist_pooled) - np.mean(generalist_pooled)

    # Print
    print('Group result (all questions): stat=%.3f, p=%.2e, diff_mean (specialist-generalist)=%.3f, sig_subq=%s/%s' % (pooled_stat, pooled_p, pooled_diff_mean, sig_count, len(question_list)))

    return group_table, (pooled_stat, pooled_p, pooled_diff_mean), sig_count, len(question_list), len(specialist_pooled), len(generalist_pooled), (subq_tables, subq_tables_names)

In [18]:
group_table, pooled_q_stats, sig_count, n_questions, specialist_responses, generalist_responses, subq_data  = analyze_group(question_list, n_subq_list, question_strings, ca_specialist, ca_generalist)
pooled_stat, pooled_p, pooled_diff_mean = pooled_q_stats
group_data.append(["Companion Animal", pooled_stat, pooled_p, pooled_diff_mean, n_questions, "%i/%i" % (sig_count,n_questions), specialist_responses, generalist_responses])
output_tables.append(group_table)
output_tables_sheet_names.append("Companion Animal")
output_subq_data.append(subq_data)
group_table

Group result (all questions): stat=24.292, p=8.28e-07, diff_mean (specialist-generalist)=-0.405, sig_subq=3/3

  Question number  ... Pooled num generalist responses
0             Q13  ...                             791
1             Q14  ...                             436
2             Q15  ...                             576

[3 rows x 10 columns]

In [19]:
# Filter dataframes to only companion animal respondants (may have responded to other species too)
ss_specialist = specialist[specialist['Q1'].str.contains('Special Species', na=False, regex=False)].copy()
ss_generalist = generalist[generalist['Q1'].str.contains('Special Species', na=False, regex=False)].copy()

In [20]:
# Input info about question group

question_list = [13,14,15]
n_subq_list = [11,6,8]
question_strings = ['Communication practices',
                    'Professional and business practices',
                    'Ethics and professional practices']

assert(len(question_list) == len(n_subq_list))
assert(len(n_subq_list) == len(question_strings))

In [21]:
group_table, pooled_q_stats, sig_count, n_questions, specialist_responses, generalist_responses, subq_data  = analyze_group(question_list, n_subq_list, question_strings, ss_specialist, ss_generalist)
pooled_stat, pooled_p, pooled_diff_mean = pooled_q_stats
group_data.append(["Special Species", pooled_stat, pooled_p, pooled_diff_mean, n_questions, "%i/%i" % (sig_count,n_questions), specialist_responses, generalist_responses])
output_tables.append(group_table)
output_tables_sheet_names.append("Special Species")
output_subq_data.append(subq_data)
group_table

Group result (all questions): stat=21.350, p=3.83e-06, diff_mean (specialist-generalist)=-1.480, sig_subq=2/3

  Question number  ... Pooled num generalist responses
0             Q13  ...                             143
1             Q14  ...                              77
2             Q15  ...                             104

[3 rows x 10 columns]

In [22]:
# Filter dataframes to only companion animal respondants (may have responded to other species too)
fa_specialist = specialist[specialist['Q1'].str.contains('Food Animal', na=False, regex=False)].copy()
fa_generalist = generalist[generalist['Q1'].str.contains('Food Animal', na=False, regex=False)].copy()

In [23]:
# Input info about question group

question_list = [13,14,15]
n_subq_list = [11,6,8]
question_strings = ['Communication practices',
                    'Professional and business practices',
                    'Ethics and professional practices']


assert(len(question_list) == len(n_subq_list))
assert(len(n_subq_list) == len(question_strings))

In [24]:
group_table, pooled_q_stats, sig_count, n_questions, specialist_responses, generalist_responses, subq_data  = analyze_group(question_list, n_subq_list, question_strings, fa_specialist, fa_generalist)
pooled_stat, pooled_p, pooled_diff_mean = pooled_q_stats
group_data.append(["Food Animal", pooled_stat, pooled_p, pooled_diff_mean, n_questions, "%i/%i" % (sig_count,n_questions), specialist_responses, generalist_responses])
output_tables.append(group_table)
output_tables_sheet_names.append("Food Animal")
output_subq_data.append(subq_data)
group_table

Group result (all questions): stat=1.412, p=2.35e-01, diff_mean (specialist-generalist)=-0.321, sig_subq=0/3

  Question number  ... Pooled num generalist responses
0             Q13  ...                             329
1             Q14  ...                             180
2             Q15  ...                             240

[3 rows x 10 columns]

In [25]:
# Filter dataframes to only companion animal respondants (may have responded to other species too)
eq_specialist = specialist[specialist['Q1'].str.contains('Equine', na=False, regex=False)].copy()
eq_generalist = generalist[generalist['Q1'].str.contains('Equine', na=False, regex=False)].copy()

In [26]:
# Input info about question group

question_list = [13,14,15]
n_subq_list = [11,6,8]
question_strings = ['Communication practices',
                    'Professional and business practices',
                    'Ethics and professional practices']


assert(len(question_list) == len(n_subq_list))
assert(len(n_subq_list) == len(question_strings))

In [27]:
group_table, pooled_q_stats, sig_count, n_questions, specialist_responses, generalist_responses, subq_data  = analyze_group(question_list, n_subq_list, question_strings, eq_specialist, eq_generalist)
pooled_stat, pooled_p, pooled_diff_mean = pooled_q_stats
group_data.append(["Equine", pooled_stat, pooled_p, pooled_diff_mean, n_questions, "%i/%i" % (sig_count,n_questions), specialist_responses, generalist_responses])
output_tables.append(group_table)
output_tables_sheet_names.append("Equine")
output_subq_data.append(subq_data)
group_table

Group result (all questions): stat=13.455, p=2.44e-04, diff_mean (specialist-generalist)=-0.744, sig_subq=2/3

  Question number  ... Pooled num generalist responses
0             Q13  ...                             220
1             Q14  ...                             120
2             Q15  ...                             160

[3 rows x 10 columns]

## Group Summary

In [28]:
group_summary_table = pd.DataFrame(group_data, columns=group_columns)

In [29]:
ALPHA = 0.05

pvals = list(group_summary_table['Pooled p'])

sigs = []
for p in pvals:
  if p > ALPHA:
      sig = ""
  else:
      sig = "*"
  sigs.append(sig)

group_summary_table.insert(loc=3, column='Sig', value=sigs)

In [30]:
# Add group summary to the beginning of output tables
output_tables.insert(0, group_summary_table)
output_tables_sheet_names.insert(0, "Group summary")

In [31]:
group_summary_table

              Group  ...  Pooled num generalist responses
0  Companion Animal  ...                             1803
1   Special Species  ...                              324
2       Food Animal  ...                              749
3            Equine  ...                              500

[4 rows x 9 columns]

# Generate tables

We will generate the following tables using pooled data from these experiments:

1.   `summary_sg_nontechnical.xlsx`: Group summary table and a table for procedure sets (questions) within each group.
2.   `companion_animal_sg_nontechnical.xlsx`: Tables for all procedures within the companion animal group.
3.   `special_species_sg_nontechnical.xlsx`: Tables for all procedures within the special species group.
4.   `food_animal_sg_nontechnical.xlsx`: Tables for all procedures within the food animal group.
5.   `equine_sg_nontechnical.xlsx`:Tables for all procedures within the equine group.
6. `summary_s_nontechnical_allspecies.xlsx`: Summary table for responses to procedures (subquestions) pooled across species areas.

## Summary

In [32]:
writer = pd.ExcelWriter('summary_sg_nontechnical.xlsx', engine='xlsxwriter')

for i,table in enumerate(output_tables):
    sheet_name = output_tables_sheet_names[i]
    table.to_excel(writer, sheet_name=sheet_name, index=False)

    # Auto-adjust columns widths
    for column in table:
        column_width = max(table[column].astype(str).map(len).max(), len(column))
        col_idx = table.columns.get_loc(column)
        writer.sheets[sheet_name].set_column(col_idx, col_idx, column_width)

writer.save()

## All Species Summary

In [33]:
group_table, pooled_q_stats, sig_count, n_questions, svm_responses, wvma_responses, subq_data  = analyze_group(question_list, n_subq_list, question_strings, specialist, generalist)

Group result (all questions): stat=8.354, p=3.85e-03, diff_mean (specialist-generalist)=-0.224, sig_subq=1/3

In [34]:
subq_tables, subq_tables_names = subq_data

# Loop through tables
writer = pd.ExcelWriter('summary_sg_nontechnical_allspecies.xlsx', engine='xlsxwriter')

for i,table in enumerate(subq_tables):
    sheet_name = subq_tables_names[i]
    table.to_excel(writer, sheet_name=sheet_name, index=False)

    # Auto-adjust columns widths
    for column in table:
        column_width = max(table[column].astype(str).map(len).max(), len(column))
        col_idx = table.columns.get_loc(column)
        writer.sheets[sheet_name].set_column(col_idx, col_idx, column_width)

writer.save()

## All procedures

In [35]:
for i, file in enumerate(['companion_animal_sg_nontechnical.xlsx', 'special_species_sg_nontechnical.xlsx', 'food_animal_sg_nontechnical.xlsx', 'equine_sg_nontechnical.xlsx']):
    subq_data = output_subq_data[i]
    subq_tables, subq_tables_names = subq_data

    # Loop through tables
    writer = pd.ExcelWriter(file, engine='xlsxwriter')

    for i,table in enumerate(subq_tables):
        sheet_name = subq_tables_names[i]
        table.to_excel(writer, sheet_name=sheet_name, index=False)

        # Auto-adjust columns widths
        for column in table:
            column_width = max(table[column].astype(str).map(len).max(), len(column))
            col_idx = table.columns.get_loc(column)
            writer.sheets[sheet_name].set_column(col_idx, col_idx, column_width)

    writer.save()